.helpBackground {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text {
    font-size: 20px;
    width: 60%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}