/* Box.module.css */


.box {
    max-width: 40rem; /* A fixed maximum width for larger screens */
    padding: 2rem; /* Spacious padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto; /* More vertical space and centered horizontally */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Softer shadow for a modern look */
    border-radius: 10px; /* Rounded corners */
}

.textButton {
    color: #333333; /* Use a primary color for buttons */
    background: none;
    border: 2px solid #0056b3; /* Add a border to the button */
    padding: 0.5rem 1rem; /* Padding for button */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem 0; /* Margin for spacing around buttons */
    transition: background-color 0.3s ease; /* Transition for a hover effect */
}

.textButton:hover {
    background-color: #e8f4fa; /* Light background on hover */
}

.boxWrapper {
    background-color: rgba(000, 000, 000, 0.5); /* Transparent background */
    opacity: 1; /* Full opacity */
    backdrop-filter: blur(5px); /* Less blur for a clearer look */
    width: 80%; /* Responsive width */
    max-width: 40rem; /* A fixed maximum width */
    margin: 2rem auto; /* More vertical space and centered horizontally */
}

.text, .title {
    font-family: 'Helvetica Neue', sans-serif; /* Modern font */
    margin: 0.5rem 0; /* Uniform margin for spacing */
    width: calc(100% - 4rem); /* Full width with padding considered */
    line-height: 1.5; /* Improved line height for readability */
    color: #fcfcfc; /* Light text color */
}

.title {
    font-size: 2rem; /* Larger font size for titles */
    font-weight: bold; /* Bold font for titles */
    text-align: center; /* Centered text */
}